.form-text-area,
.form-text-field {
  width: 100%;
  padding: 3px 6px;
  font-family: inherit;  
}

.form-text-area {
  width: 100%;
}

.user-form {
  max-width: 250px;
}

.user-form .button {
  width: 100%;
}
