.users-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.users-box__user {
  height: 100px;
  width: 100px;
  flex-basis: 100px;
  flex-grow: 0;
  line-height: 100px;
  text-align: center;
}

.users-box__user a {
  color: var(--text-invert);
}
